@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">About Us</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- aboutblock1 section -->
<section class="w3l-homeblock1 py-5" id="about">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center">
            <div class="col-lg-6 pe-xl-5">
                <h3 class="title-style mb-3">Welcome to <span>Dentition</span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad, quis nostrud
                    ullamco laboris nisi ut ex ea.
                </p>
                <div class="mt-4">
                    <ul class="service-list">
                        <li class="service-link">
                            <a href="#url">
                                <i class="fas fa-check-circle"></i>Exceptional
                                Service
                            </a>
                        </li>
                        <li class="service-link">
                            <a href="#url"><i class="fas fa-check-circle"></i>Soft & Gentle</a>
                        </li>
                    </ul>
                </div>
                <a href="about.html" class="btn btn-style mt-4">Discover More</a>
            </div>
            <div class="col-lg-6 homeaboutblock mt-lg-0 mt-5">
                <img src="~/images/about.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>
<!-- //aboutblock1 section -->
<!-- features section -->
<section class="w3l-features py-5" id="features">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center text-white mb-sm-5 mb-4">Our Awesome <span>Features</span></h3>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="fas fa-hand-holding-medical"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">The Quality of Used Medical Materials</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="fas fa-tooth"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">Dental Implants-New Teeth in One Day</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="fas fa-briefcase-medical"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">A Full Range of Dental Services</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-5 mt-4">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="far fa-money-bill-alt"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">Loyalty Discounts of Regular Customers</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-5 mt-4">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="fas fa-syringe"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">Dental Implants-New Teeth in One Day</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-5 mt-4">
                <div class="feature-gd feature-gd-2">
                    <div class="icon">
                        <i class="fas fa-teeth-open"></i>
                    </div>
                    <div class="icon-info">
                        <h5><a href="#features">Modern Methods of Teeth Straightening</a></h5>
                        <p>
                            Lorem ipsum dolor sit amet, sed eiusmod
                            temporinit sit.
                        </p>
                        <a href="services.html" class="btn btn-style-primary">
                            Learn More<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //features section -->
<!-- team section -->
<section class="w3l-team py-5">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">Meet Our <span>Doctors</span></h3>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/team1.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Olive Yew</a></h5>
                        <small>Dentist</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/team2.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1 active"><a href="#team">Aida Joe</a></h5>
                        <small>Orthodontist</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/team3.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Teri Dac</a></h5>
                        <small>Hygienist</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/team4.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Anton Bne</a></h5>
                        <small>Dentist</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team setion -->
<!-- testimonials section -->
<section class="w3l-testimonials pb-5" id="testimonials">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">What Our <span>Patients</span> Say!</h3>
        <div class="owl-testimonial owl-carousel owl-theme mx-auto" style="max-width:1000px">
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/images/testi1.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur dolor sit amet.Nulla mollis dapibus nunc, ut rhoncus turpis sodales
                            quis. Integer sit amet mattis quam. Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit.
                        </div>
                        <div class="name">- Johnson</div>
                        <div class="desp ms-2">Businessman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/images/testi2.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Hpsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit
                            amet mattis quam.consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit.
                        </div>
                        <div class="name">- Sami Wade</div>
                        <div class="desp ms-2">Manager</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/images/testi3.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Morem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit
                            amet mattis quam.consectetur adipisicing elitLorem ipsum, dolor sit amet consectetur
                            adipisicing elit.
                        </div>
                        <div class="name">- Smith roy</div>
                        <div class="desp ms-2">Employee</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials section -->
<!-- call section -->
<section class="w3l-call-to-action-6">
    <div class="container py-md-5 py-sm-4 py-5">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <h3 class="title-big">Visit Now!</h3>
                <p class="text-white mt-1">Begin the change today</p>
            </div>
            <div class="right-content-call mt-sm-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4">
                        <i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:+1(23) 456 789 0000">+1(23) 456 789 0000</a>
                    </li>
                    <li><a href="appointment.html" class="btn btn-style btn-style-2 mt-lg-0 mt-3">Book Now</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //call section -->
